@import url("https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro?styles=82965,82963");

* {
	font-family: "Neue Haas Grotesk Display Pro", sans-serif;
	font-weight: 600;
	padding: 0;
	margin: 0;
	line-height: 1em;
	font-size: 36px;
	letter-spacing: -0.03em;
	color: $black;
	box-sizing: border-box;

	@media (max-width: $break-sm) {
		font-size: 24px;
	}
}

a {
	text-decoration: none;
	cursor: pointer;
	transition: opacity 0.3s ease;
	&:visited,
	&:focus {
		color: inherit;
	}
	&:hover {
		opacity: 0.4;
	}
}

.black {
	color: $black;
}

.grey {
	color: $green;
}
